#panel {
    width: 600px;
    background-color: #eee;
    padding: 40px;
    margin: 0 auto;
}
#todo-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#todo-list li {
    display: flex;
    padding: 10px;
}
#todo-list li:hover {
    background-color: #f8f8f8;
}
#todo-list .checkbox {
    border-radius:  50%;
    width: 35px;
    height: 35px;
    background-color: #ccc;
    margin-right: 10px;
    cursor: pointer;
}
#todo-list .content {
    flex: 1;
}
#todo-list .actions > * {
    padding: 0 10px;
    cursor: pointer;
}